
$brown-grey: #30261C;
$brown-red: #2A0000;
$brown-1: #30261C;
$brown-2: #30261C;
$cream: #E2D9C8;
$white-alt: #F1F0EE;
$white-alt-1: #D9D9D9;
$yellow: #FFB921;
$white-alt-2: #E2D9C9;
$black-alt: #0C0B0B;
