@import "colors";

html, body {
    background-color: $white-alt;
}
header {
    background-image: url("../img/coffee-shop-header-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color:$white-alt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-primary {
    background-color: $white-alt;
    color: $black-alt;
    border-color: $black-alt;
}

.btn-primary:hover {
     background-color: $yellow;
}

.logo-text {
    font-size: 2em;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    margin-top: 0px;
}


#coffee-bar {
    background-color: $cream;
    .fa {
        color: $brown-red;
        width: 100px;
    }
}

#special-bar {
    background-image: url("../img/coffee-shop-header-3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    color:$white-alt;
    padding: 50px 0px;
    margin: 50px 0px
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: $brown-2;
    color: $cream;
    .fa {
        color: $yellow;
    }
    .card-header {
        border: none;
    }
}

.blockquote-footer{
    color: $white-alt-2;

}

.signup{
    background-color: $cream;
    padding: 30px 0px
}

a {
    color: $brown-grey;
    :hover {
        color: $yellow;
    }
}
